.voting .results { background-image:url(./results_border.gif);}
.home-votings .results {background-image: url(./results_border-home.gif);}
.voting .results .pro {background-image: url(./pro_border.gif);}
.voting .results .contra {background-image: url(./contra_border.gif);}
.voting .results .verdict {background-image: url(./verdict_bg.gif);}
.sidebar .mod {background-image: url(./nav-parties-bottom.gif);}
.sidebar .mod h3 {background-image: url(./nav-parties-top.gif);}
.nav-parties li {background-image: url(./nav-parties-bg.gif);}
.nav-parties a:hover {background-image: url(./nav-parties-bg-hover.gif);}
.nav-parties ul.party li {background-image: url(./nav-party-bg.gif);}
.nav-parties ul.party li a:hover {background-image: url(./nav-party-bg-hover.gif);}
	
